* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 80%;
  min-width: 90%;
}

/* HEADEER */
header {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: #ffffff;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.logo img {
  width: 100px;
}

header button {
  color: #f1f1f1;
  background-color: #ff1744;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: 600;
  outline: none;
}

.avatar img {
  border-radius: 49%;
  border: 2px solid #ff1744;
}

/* HEADER END */

/* SEARCH BAR */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.searchCenter {
  display: flex;
  margin-top: 150px;
  margin-bottom: 250px;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.search__main {
  width: 500px;
}

form {
  display: flex;
  justify-content: center;
}

.search__input {
  width: 80%;
  padding: 10px;
  border-radius: 999px 0 0 999px;
  outline: none;
  border: none;
  background-color: #eff2f5;
  color: #333;
  font-weight: 600;
}

.search__main button {
  width: 20%;
  min-width: 50px;
  border-radius: 0 999px 999px 0;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #ff1744;
  color: #f1f1f1;
  font-weight: 600;
  font-size: 1.1rem;
}

.small__btn {
  display: none;
}

@media (max-width: 370px) {
  .small__large {
    display: none;
  }

  .small__btn {
    display: block;
  }
}

/* SEARCH BAR END */

/* KEYWORD */
.MainKeyword {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.keywords {
  width: 60%;
  /* height: 100px; */
  margin: 5px;

}

.keywordList__heading {
  padding: 10px 10px;
  background-color: #eff2f5;
  color: gray;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}

.keyword__list {
  width: 100%;
  border-radius: 15px 15px 0 15px;
  box-shadow: -3px 3px 5px -5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 15px 15px 0 15px;
  -moz-border-radius: 15px 15px 0 15px;
  -ms-border-radius: 15px 15px 0 15px;
  -o-border-radius: 15px 15px 0 15px;
}

.keyword__list ul {
  list-style: none;
  height: 65vh;
  overflow-y: scroll;
}

.keyword__list ul li {
  padding: 10px 10px;
  overflow-x: hidden;
  color: gray;
  font-weight: 600;
  cursor: auto;
  border-bottom: 1px solid #eff2f5;
}

.keyword__list ul li:hover {
  color: #ff1744;
  background-color: #eff2f5;
}

/* side seperate */

.keyword__more {
  width: 40%;
  position: relative;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

/*___ keyword used pages */
.keyword_used__pages {
  width: 100%;
  /* height: 100px; */
  margin: 5px 0;
  /* height: 25vh; */
}

.keyword_used_pages__list {
  width: 100%;
  border-radius: 15px 15px 0 15px;
  box-shadow: -3px 3px 5px -5px rgba(0, 0, 0, 0.5);
}

.keyword_used_pages__list ul {
  list-style: none;
  height: 25vh;
  overflow-y: scroll;
}

.keyword_used_pages__list ul li {
  padding: 10px 10px;
  overflow-x: hidden;
  font-weight: 600;
  cursor: auto;
  border-bottom: 1px solid #eff2f5;
}

.keyword_used_pages__list ul li a {
  text-decoration: none;
  color: gray;
}

.keyword_used_pages__list ul li a:hover {
  color: #ff1744;
}

.keyword_used_pages__list ul li:hover {
  color: #ff1744;
  background-color: #eff2f5;
}


/* instergram list */
.keyword__instagram {
  /* margin-top: 20vh; */
  margin-top: 1vh;
  width: 100%;
}

.keyword_instargram__list {
  width: 100%;
  border-radius: 15px 15px 0 15px;
  box-shadow: -3px 3px 5px -5px rgba(0, 0, 0, 0.5);
}

.keyword_instargram__list ul {
  list-style: none;
  height: 30vh;
  overflow-y: scroll;
}

.keyword_instargram__list ul li {
  padding: 10px 10px;
  overflow-x: hidden;
  color: gray;
  font-weight: 600;
  cursor: auto;
  border-bottom: 1px solid #eff2f5;
}

.keyword_instargram__list ul li:hover {
  color: #ff1744;
  background-color: #eff2f5;
}

@media (max-width: 600px) {
  .keywordList__heading {
    font-size: 0.9rem;
  }

  .keyword_instargram__list ul li,
  .keyword_used_pages__list ul li a,
  .keyword__list ul li {
    font-size: 0.9rem;
  }

}

@media (max-width: 500px) {
  .MainKeyword {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .keywords {
    width: 100%;
    height: 70vh;
  }

  .keyword__more {
    width: 100%;

  }
}

/* END OF KEYWORD */



/* URL SEARCH */
/* __report_list */
.report {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.report__item {
  background-color: #eff2f5;
  width: 150px;
  padding: 20px 5px;
  text-align: center;
  color: gray;
  border-radius: 15px;
  margin: 5px;
}

.report__amount {
  color: #ff1744;
}

.report__amount span {
  color: #333;
  font-weight: 600 !important;
}


/* __end_report_list */

.search_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.website {
  width: 60%;
  /* height: 100px; */
  margin: 5px;
  height: 65vh;
}

.web_keyword__list {
  width: 100%;
  border-radius: 15px 15px 0 15px;
  box-shadow: -3px 3px 5px -5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 15px 15px 0 15px;
  -moz-border-radius: 15px 15px 0 15px;
  -ms-border-radius: 15px 15px 0 15px;
  -o-border-radius: 15px 15px 0 15px;
}

.web_keyword__list ul {
  list-style: none;
  height: 65vh;
  overflow-y: scroll;
}

.web_keyword__list ul li {
  padding: 10px 10px;
  overflow-x: hidden;
  color: gray;
  font-weight: 600;
  cursor: auto;
  border-bottom: 1px solid #eff2f5;
}

.web_keyword__list ul li:hover {
  color: #ff1744;
  background-color: #eff2f5;
}

.sub_domain {
  width: 40%;
  margin: 5px;
  height: 45vh;
  max-height: 60vh;
}

.sub_domains_all {
  width: 100%;
  height: 100px;
  margin: 5px 0;
  /* height: 25vh; */
}

.sub_domain_list {
  width: 100%;
  border-radius: 15px 15px 0 15px;
  box-shadow: -3px 3px 5px -5px rgba(0, 0, 0, 0.5);
}

.sub_domain_list ul {
  list-style: none;
  height: auto;
  max-height: 60vh;
  overflow-y: scroll;
}

.sub_domain_list ul li {
  padding: 10px 10px;
  overflow-x: hidden;
  font-weight: 600;
  cursor: auto;
  border-bottom: 1px solid #eff2f5;
}

.sub_domain_list ul li a {
  text-decoration: none;
  color: gray;
}

.sub_domain_list ul li a:hover {
  color: #ff1744;
}

.sub_domain_list ul li:hover {
  color: #ff1744;
  background-color: #eff2f5;
}


@media (max-width: 600px) {

  .sub_domains_all ul li,
  .sub_domain_list ul li a,
  .web_keyword__list ul li {
    font-size: 0.9rem;
  }

}

@media (max-width: 500px) {
  .report__item {
    width: 130px;
    padding: 20px 5px;
  }

  .report {
    flex-wrap: wrap;
  }

  .search_main {
    flex-direction: column;
    width: 100%;
  }

  .website {
    width: 100%;
  }

  .sub_domain {
    margin-top: 10vh;
    margin-bottom: 20vh;
    width: 100%;
  }

}

/* END OF URL SEARCH */

/* AUTH */
.sign {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign__box {
  width: 300px;
  height: auto;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px -1px 196px -75px rgba(0, 0, 0, 9);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.sign__box form {
  display: flex;
  flex-direction: column;
}

.sign__box form .feild {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 999px;
}

.input__feild {
  outline: none;
  font-weight: 600;
  background-color: #eff2f5;
  color: #333;
}

.submit__feild {
  background-color: #ff1744;
  color: #f1f1f1;
  font-weight: 600;
  font-size: 1.1rem;
  outline: none;
  cursor: pointer;
}


.sign_up__link {
  margin: 10px;
  font-weight: 600;
}

.sign_up__link a {
  text-decoration: none;
}

.sign_up__link .link__color {
  color: #ff1744;
}

.sign_up__link .link__line {
  display: inline-block;
  width: 50vw;
  height: 2px;
  background-color: #ff1744;
}

/* END AUTH */

/* profile */
.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.profile__image {
  width: 200px;
  height: 200px;
}

.profile__image img {
  width: 100%;
  height: auto;
  min-height: 50%;
}

.profile__info h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.profile__info P {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
}

.profile__info .sign__out {
  color: #ff1744;
  cursor: pointer;
  font-weight: 600;
}

.profile__info .sign__out:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    text-align: center;
  }
}

.history {
  width: 100%;
  height: auto;
  margin-bottom: 70px;

}

.history_list {
  width: 100%;
  border-radius: 15px 15px 0 15px;
  box-shadow: -3px 3px 5px -5px rgba(0, 0, 0, 0.5);
}

.history_list ul {
  list-style: none;
}

.history_list ul li {
  padding: 10px 10px;
  overflow-x: hidden;
  color: gray;
  font-weight: 600;
  cursor: auto;
  border-bottom: 1px solid #eff2f5;
}

.history_list ul li:hover {
  color: #ff1744;
  background-color: #eff2f5;
}


/* --------------------------------------- */
/* _____scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  padding: initial 5px;
}

::-webkit-scrollbar-thumb {
  background: #eff2f5;
  border-radius: 0 0 15px 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff1744;
}

/* ___end of scroll bar */


/* __ load to sign in */
.sign_in__load {
  text-align: center;
}

.sign_in__load a {
  color: gray !important;
  text-decoration: none;
}

.sign_in__load a span {
  color: #ff1744;
}

/* __ end load sign in */

/* FOOTER */
footer {
  width: 100%;
  z-index: 100;
  padding: 20px;
  /*20*/

  text-align: center;
  font-weight: 600;
  margin-top: 30px;
  border-top: 2px solid #eff2f5;
}

footer span {
  color: #ff1744;
}









.loading_center {
  position: relative;
  height: 70vh;
}
.loader_box {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin: auto
}

.loader:before,
.loader:after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: calc(50% - 10px);
  background-color: #ff1744;
  animation: squaremove 1s ease-in-out infinite;
  -webkit-animation: squaremove 1s ease-in-out infinite;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.loader:after {
  bottom: 0;
  animation-delay: 0.5s;
}

@keyframes squaremove {

  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }

  25% {
    transform: translate(40px, 40px) rotate(45deg);
  }

  50% {
    transform: translate(0px, 80px) rotate(0deg);
  }

  75% {
    transform: translate(-40px, 40px) rotate(45deg);
  }
}